<section class="about-area jumbotron jumcolor">
  <div class="container">
    <div class="row d-flex justify-content-end align-items-center">
      <div class="col-lg-6 about-left">
        <div class="single-about">
          <h4><%= t "about.why_choose_us"%></h4>
          <p><%= t "about.intro"%></p>
        </div>
      </div>
      <div class="col-lg-6 about-right no-padding">
        <%= image_tag "about-img-h.jpg", alt: "", class: "img-fluid" %>
      </div>
    </div>
  </div>
</section>
