<% provide :title, t(".title") %>
<div class="container mt-5 mb-5">
  <section class="dark-grey-text">
    <h2 class="text-center font-weight-bold mb-4 pb-2"><%= t ".title" %></h2>
    <div class ="paginator"><%= paginate @posteds, remote: true %></div>
      <ul class="users", id="posteds">
        <%= render partial: "posted", collection: @posteds %>
      </ul>
    <div class ="paginator"><%= paginate @posteds, remote: true %></div>
  </section>
</div>
