/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/storage/*
!/storage/.keep
/node_modules
/yarn-error.log
/public/assets
/public/uploads
.byebug_history
/config/master.key
/config/credentials.yml.enc
/config/database.yml
/vendor/bundle/*
/vendor/assets/
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
.vscode/
