<ul class="notificator">
  <a href="" id="open_notification" data-no-turbolink="true">
    <%= render 'notifications/counter', counter: @notifications.unseen.size %>
  </a>
  <div id="notificationContainer">
    <div id="notificationTitle"><%= t ".notifications" %></div>
    <div id="notificationsBody" class="notifications">
      <ul id="notificationList">
        <%= render partial: "notifications/notification", collection: @notifications %>
      </ul>
    </div>
    <div id="notificationFooter"></div>
  </div>
</ul>
