<% provide :title, t(".title") %>
<% provide :button_text, t(".button_text") %>
<div class="container my-5 py-5 z-depth-1">
  <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
    <div class="row d-flex justify-content-center">
      <div class="col text-center">
        <%= render "form" %>
      </div>
    </div>
  </section>
</div>
