@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'color';

body { padding-top: 75px;
  .jumcolor{
    background-color: #f9f9ff;
  }
}

.logo-icon {
  width: 50px;
  height: 50px;
}

.logo-branch{
  padding-top: 0px;
}

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px;
  }
}

.avatar {
  max-width: 45px;
}
