@import 'bootstrap-sprockets';
@import 'bootstrap';

body { padding-top: 75px;
  .jumcolor{
    background-color: #f9f9ff;
  }
}

.logo-icon {
  width: 50px;
  height: 50px;
}

.logo-branch{
  padding-top: 0px;
}
