@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'color';

body {
  padding-top: 75px;
  .jumcolor{
    background-color: white;
  }
}

h1.title {
  font-size: 26px;
  font-weight: bold;
  padding-bottom: 13px;
  border-bottom: 1px solid white;
}

i.fa.fa-edit.fa-2x {
  color: blue;
  float: right;
}

.content {
  height: 200%;
  background-color: white;
}
.content_inner {
  height: 50%;
  overflow-y: auto;
  padding: 50px 20%;
}

#more {
  display: none;
}

.logo-icon {
  width: 50px;
  height: 50px;
}

.logo-branch{
  padding-top: 0px;
}

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px;
  }
}

.avatar {
  max-width: 45px;
}

input.hidden {
  position: absolute;
  left: -9999px;
}

#profile-image1 {
  cursor: pointer;
  width: 100px;
  height: 100px;
}

.title {
  font-size: 16px;
  font-weight: 500;
}

.bot-border {
  border-bottom: 1px white solid;
  margin: 5px 0;
}

.pagination a, .pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  background-color: white;
  border: 1px solid $white-d3;
  border-left-width: 0;
}

.pagination {
  border-left: 1px solid $white-d3;
  .first, .prev, .page, .page, .next, .last {
    padding : 0;
    float: none;
    border: none;
  }
}

.icon-custom{
  width: 25px;
}

#carousel img {
  display: block;
  opacity: .5;
  cursor: pointer;
}

#carousel .flex-active-slide img {
  opacity: 1;
  cursor: default;
}

a:focus, a:hover, a:active {
  outline: 0;
  text-decoration: none;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.hide {
  display: none;
}

.cover {
  max-height: 300px;
  .image1 {
    object-fit: cover;
  }
}

.slides-custom {
  max-height: 300px;
  .item-img {
    object-fit: slides-custom;
  }
}

#search-box {
  position: sticky;
  left: 5px;
  top: 30px;
  z-index: 999;
}

.rounded-circle {
  border-radius: 50%;
  padding: 3px;
  background-color: silver;
}

.img-thumbnail {
  max-width: 100px;
  max-height: 100px;
}
