<footer class="footer-area section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <h6><%= t "footer.about_us" %></h6>
          <p class="text-muted">
            <%= t "footer.content_about" %>
          </p>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
      </div>
    </div>
  </div>
</footer>
